@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
    @apply w-full bg-white/5 text-white text-sm font-medium px-4 py-3.5 rounded-xl border border-white/10 transition-all outline-none placeholder:text-white/20;
}

.input:focus {
    @apply border-indigo-500/50 bg-white/10;
}

.input_cta {
    @apply w-full flex justify-between items-center mb-1.5 px-1;
}

.input_error {
    @apply text-[10px] font-bold text-red-400 uppercase tracking-tight;
}

.input_label {
    @apply text-[10px] font-black text-white/40 uppercase tracking-[0.2em];
}

.input_container {
    @apply w-full;
}