@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --white: #ffffff;
  --foreground: #171717;
  --primary-color: #1E201E;
  --primary-color-yellow: #F9A602;
  --primary-color-red: #D72638;
  --primary-color-green: #008F5A;
  --primary-color-blue: #4169E1;
  --primary-color-dark: #493D9E;
  --error: #EB5A3C;
  --grey: #808080;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

@layer utilities {
  .animate-shimmer {
    background: linear-gradient(90deg,
        rgba(255, 255, 255, 0.03) 25%,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(255, 255, 255, 0.03) 75%);
    background-size: 200% 100%;
    animation: shimmer 2s infinite linear;
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}