@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --white: #ffffff;
  --foreground: #171717;
  --primary-color: #C5BAFF;
  --primary-color-dark: #493D9E;
  --error: #EB5A3C;
  --grey: #808080;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
